*{
	margin: 0; padding: 0; box-sizing: border-box;
	font-family: verdana;
}
header{
	width: 100%; height: 100vh; background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url("a.jpg");
	background-size: cover;
}
nav{
	width: 100%;
	height: 15vh;
	background: rgba(0, 0, 0, 0.2);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .logo{
	width: 25%;
	text-align: center;
	

}
nav .menu{
	width: 40%;
	display: flex; justify-content: space-around; 
}
nav .menu a{
	width: 25%; text-decoration:none;
	color: white;
	font-size: 700;
}
nav .menu a:first-child{
	color: yellow;
}
main{
	width: 100%; height: 85vh; display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	
}
section h3{
	font-size: 35px;
	font-weight: 300;
	letter-spacing: 3px;
	color: red;
	text-shadow: 3px 3px 2px black;
}
section h1{
	margin: 30px 0 20px 0;
	font-size: 55px;
	font-weight: 200;
	text-shadow: 2px 1px 2px black;
}
section p{
	font-size: 25px;
	color: blue;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;
}
section a{
	padding: 12px 30px;
	border-radius: 5px;
	font-size: 13px;
	outline: none;
	font-weight: 500;
	transition: all .5s ease;
}
section .bto{
	background: white;
	color: black;
}
section .btt{
	background: green;
	color: white;
}
.change:after{
	color: '';
	animation:hello  infinite linear;
	
}
@keyframes hello{
	0%{content: "Delhi";}
}