*{
	padding: 0; margin: 0;
}
.bimg{
	width: 100%;
	height: 100vh;
	background-image: url("dark.jpg");
	background-size: cover;
	display: flex;
	align-items: center;
	color: white;
	justify-content: center;
	text-align: center;
}
.pro{
	width: 500px;
	padding: 30px 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 25%;
}
img{
	height: 250px;
	border-radius: 50%;
}
.pt h2{
	padding-top: 10px;
	font-family: verdana;
	font-size: 2em;
	font-weight: bold;
}
.pt h3{
	padding-top: 5px;
	font-family: verdana;
	font-weight: bold;
}
.pt p{
	word-spacing: 3px;
	
	font-weight: bold;
	padding-top: 10px;

}
.links{
	padding-top: 20px;
}
i{
	color: white;
}