*{
	margin: 0; padding: 0;
	box-sizing: border-box;
}
header{
	width: 100%; height: 100vh;
	background-image: url("dark.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.menu{
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: right;
	
}
.logo{
	width: 20%; text-align: center;
}
.logo img{
	padding-top: 30px;
	height: 100px;
}

header .list{
	width: 90%;
	padding-top: 30px;
	display: inline-block;
	padding-left: 600px;
	text-transform: uppercase;

}
header .list a{
	font-size: 20px;
	color: red;
	text-decoration: none;
}
header .list a:hover{
	color: yellowgreen;

}
.content{
	width: 100%;
	padding-left: 500px;
	padding-top: 200px;
}
.content h2{
	font-size: 25px;
	color: orange;
	text-transform: uppercase;
	font-family: verdana;
	font-weight: bold;
}
.content h1{
color: white;                                                   
	margin-top: 20px;
	padding-left: 170px;
	text-transform: uppercase;
	font-family: verdana;
	font-weight: bold;
}
.content button{
	background-color: white;
	margin-top: 20px;
	padding-left: 120px;
	padding-right: 100px;
	text-transform: uppercase;
	
	font-size: 20px;
	align-content: center;
}
.content button a{
	color: black;
	text-decoration: none;
}
.content button:hover{
  		background-color: skyblue;
  		transition: 0.5s ease;
}