*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color:orange;
	font-family: verdana;
	display: flex;
	flex-direction: column;
}
header{
	display: flex;
	background-color: black;
	align-items: center;
	height: 100px;
	
}
.main .side ul li a{
	text-decoration: none;
	color: black;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.menu ul li a:hover{
	color: orange;
	transition: 0.5s ease;
}
.logo h1{
	color: red;
	margin-right: 30px;
}
header ul{
	display: flex;
}
.logo{
	margin: 0 auto;
}
.menu li{
	padding: 10px;
	text-transform: uppercase;
	color: white;
}
.links a{
	padding-right: 10px;
	font-size: 25px;
}
.links a:hover{
	color: white;
	transition: 0.4s ease;
}
.main{
	display: flex;
}
article{
	margin-top: 20px;
}
aside{
	margin-top: 10px;
	text-transform: uppercase;
	flex: 0 0 20vw;
	background-color: wheat;
	text-align: center;
}
.services{
	display: flex;
	max-width: 400px;
	margin-left: 10px;
	
}
.services .c1{
	background-color: tomato;
	border: 8px solid magenta;
	margin: 5px;

}
 
.services .c2{
	background-color: skyblue;
	border: 8px solid blue;
	margin: 5px;
}
.services .c3{
	background-color: lightgreen;
	border: 8px solid black;
	margin: 5px;
}
article h2{
	margin-left: 10px;
	font-size: 30px;
	text-transform: uppercase;
}
.ft{
	width: 1500px;
	text-align: center;
	background-color: grey;
	margin-top: 50px;
	margin-left: 20px;
}
button{
	font-family: verdana;
	border-radius: 5px;
	font-size: 20px;
	margin-left: 20px;
	text-transform: capitalize;
	
}
button a{
	text-decoration: none;
	color: black;
}
button:hover{
	background-color: firebrick;
	transition: 0.4s ease;
}
